<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.app.listeners.TestListeners"/>
    </listeners>

    <test  parallel="methods" thread-count="1" name="Rest Assured API Framework">
        <classes>
            <class name="com.app.tests.RCBTeamPlayersTest">
                <methods>
                    <include name="validateRCBTeamHasOneWicketKeeper"/>
                    <include name="validateRCBTeamHasFourForeignPlayers" />
                </methods>
            </class>
        </classes>
    </test>
</suite>